# NPM packages
/node_modules/

# Mock data
/source/api/db.json

# Build folder
/dist/

# Built files
/buildScripts/**/*.js
/buildScripts/**/*.d.ts
/source/**/*.js
/source/**/*.d.ts
webpack.*.js
webpack.*.d.ts
